# Configurations
.vs/
.vscode/

# Builds
build/

# Textures (Ignoring for now - must be added manually)
samples/textures/

# Files are too large
samples/models/Skull.txt
samples/models/Car.txt
samples/models/Cube.txt
samples/models/Sphere.txt
samples/models/Plane.txt
samples/models/MyMonkey.obj
samples/models/*.m3d

# Project File Tree
tree.txt
