# Configurations
.vs/
.vscode/

# Builds
build/
out/

# Textures (Ignoring for now - must be added manually)
# samples/textures/

# Files are too large
samples/models/Skull.txt
samples/models/Car.txt
samples/models/Cube.txt
samples/models/Sphere.txt
samples/models/Plane.txt
samples/models/MyMonkey.obj
samples/models/soldier.m3d
samples/models/BASEmodel.obj
samples/models/Monkey.bin
samples/models/Monkey.gltf
samples/models/AnimatedCube.bin
samples/models/AnimatedCube.gltf
samples/models/glTF/inverseBindMatrices.bin
samples/models/glTF/RiggedSimple0.bin
samples/models/glTF/skinAnimation.bin
samples/models/glTF/skinGeometry.bin
samples/models/glTF/AnimatedCube.bin

# Project File Tree
tree.txt
